![imagenes](logo.png)

# Strings.

## El tipo tipo ```str```.

Este tipo de datos es una colección ordenada, indexable numericamente e inmutable de caracteres.

Para definir un objeto de tipo ```str``` es necesario delimitarlo ya sea con comillas ```"``` o con ``` apóstrofes```.

Es posible incluir caracteres de escape antecedidos por la diagonal invertida ```\``` tales como los que se muestran en la siguiente tabla.

|Secuencia|Despliegue|
|:-------:|:--------:|
|```\n```    |Retorno de línea|
|```\t```    |Tabulador |
|```\"```    |Comillas  |
|```\'```    |Apóstrofe |
|```\\```   |Diagonal invertida|
|```\xNN```  |Caracter que corresponde al número hexadecimal *NN* en ASCII|
|```\uNN```  |Caracter que corresponde al número hexadecimal *NN* en Unicode|

Estos caracteres de escape serán interpeteados por funciones de despliegue tales como ```print()```.

**Ejemplos:**

* Las siguientes celdas definen objetos ```str```.

In [ ]:
'Hola, mundo.'

In [ ]:
"上午好"

In [ ]:
"Vamos a MacDonald's"

In [ ]:
""

* El siguiente objeto ```str``` incluye caracteres de escape, los cuales serán interprertados mediante la función ```print()```.

In [ ]:
'Esta es la primera línea.\nEsta es la segunda línea \tcon tabulador.'

In [ ]:
print('Esta es la primera línea.\n Esta es la segunda línea \t con tabulador.')

### Indexado de los objetos ```str```.

Los objetos de tipo ```str``` pueden ser indexados numéricamente.

**Ejemplos:**

* A continuación se mostrarán algunos ejemplos de indexado de objetos ```str```.

In [ ]:
'Hola, mundo'[1]

In [ ]:
'Hola, mundo'[-5:-2]

In [ ]:
'Hola, mundo'[3:10:2]

In [ ]:
'Hola, mundo'[::-1]

### Inmutabilidad de los objetos de tipo ```str```.

Los caracteres contenidos en un objeto de tipo ```str``` no pueden ser modificados usando el operador ```=``` ni eliminados con ```del```.

**Ejemplo:**

* A continuación se intentarán modificar y eliminar elementos del objeto ```str``` con nombre ```saludo```, lo cual desencadenará errores de tipo ```TypeError```.

In [ ]:
saludo = "Hola, amigos."

In [ ]:
saludo[1]

In [ ]:
saludo[4:]

In [ ]:
saludo[4] = 'a'

In [ ]:
del saludo[1]

## Métodos de los objetos tipo ```str```.

El tipo ```str``` cuenta con diversos métodos que permiten realizar muy variadas opertaciones con este tipo de objetos.

### El método  ```lower()```. 

Convierte la cadena de caracteres en minúsculas.

```
<objeto str>.lower()
```

**Ejemplo:**

In [ ]:
'Hola, amigos.'.lower()

### El método ```upper()```. 

Convierte la cadena de caracteres en mayúsculas.

```
<objeto str>.upper()
```

**Ejemplo:**

In [ ]:
'Hola, amigos.'.upper()

### El método ```capitalize()```.

Convierte al primer caracter del texto en mayúscula y el resto en minúsculas.

```
<objeto str>.capitalize()
```

**Ejemplo:**

In [ ]:
'hola, amigos.'.capitalize()

### El método ```title()```. 

Convierte al primer caracter de cada palabra en mayúsculas y los otros en minúsculas. 

```
<objeto str>.title()
```

**Ejemplo:**

In [ ]:
'hola, amigos.'.title()

### El método ```swapcase()```.
Transforma los caracteres que están en minúsculas a mayúsculas y los que están en mayúsculas a minúsculas.

```
<objeto str>.swapcase()
```

**Ejemplo:**

In [ ]:
'Hola, amigos.'.swapcase()

### El método ```casefold()```.

Transforma el texto en un formato de minúsculas que permita compararlo con otro texto.

```
<objeto str>.casefold()
```

**Ejemplo:**

In [ ]:
'HoLA, amiGoS.'.casefold()

In [ ]:
# el río
string1 = "Der Fluß" 
string2 = "der Fluss"

In [ ]:
string1.lower()

In [ ]:
string1.lower() == string2.lower()

In [ ]:
string1.casefold() == string2.casefold()

### El método ```center()```.

Regresa un objeto ```str``` de un tamaño específico en el que el texto original se encuentra centrado.

```
<objeto str>.center(<n>, <caracter>)
```

Donde:

* ```<n>``` es el tamaño del nuevo objeto ```str```.
* ```<caracter>``` es un objeto ```str``` que define el caracter que se utilzará para llenar los espacios que delimitan al texto centrado. El caracter por defecto es un espacio en blanco.

**Ejemplos:**

In [ ]:
'Hola, amigos.'.center(30)

In [ ]:
'Hola, amigos.'.center(30, 'x')

### El método ```ljust()```.

Regresa un objeto ```str``` de un tamaño específico en el que el texto original se encuentra ajustado a la izquierda.

```
<objeto str>.ljust(<n>, <caracter>)
```

Donde:

* ```<n>``` es el tamaño del nuevo objeto ```str```.
* ```<caracter>``` es un objeto ```str``` que define el caracter que se utilzará para llenar los espacios a la derecha del texto ajustado. El caracter por defecto es un espacio en blanco.

**Ejemplos:**

In [ ]:
'Hola, amigos.'.ljust(30)

In [ ]:
'Hola, amigos.'.ljust(30, 'x')

### El método ```rjust()```.

Regresa un objeto ```str``` de un tamaño específico en el que el texto original se encuentra ajustado a la derecha.

```
<objeto str>.rjust(<n>, <caracter>)
``

Donde:

* ```<n>``` es el tamaño del nuevo objeto ```str```.
* ```<caracter>``` es un objeto ```str``` que define el caracter que se utilzará para llenar los espacios a la izquierda del texto ajustado. El caracter por defecto es un espacio en blanco.

In [ ]:
'Hola, amigos.'.rjust(30)

In [ ]:
'Hola, amigos.'.rjust(30, 'x')

### El método ```strip()```.

Regresa un objeto ```str``` que elimina los espacios (o el caracter que se especifique) que rodee a un texto.

```
<objeto str>.strip(<caracter>)
```

Donde:
* ```<caracter>``` es un objeto ```str``` que define al caracter que será eliminado. El caracter por defecto es un espacio en blanco.

**Ejemplo:**

In [ ]:
'                 Hola, amigos.        '.strip()

In [ ]:
'xxxxxxxxxxxxxxxxxHola, amigos.xxxxxxxx'.strip('x')

### El método ```lstrip()```.

Regresa un objeto ```str``` que elimina los espacios (o el caracter que se especifique) que se encuentren a la izquerda de un texto.

```
<objeto str>.lstrip(<caracter>)
```

Donde:
* ```<caracter>``` es un objeto ```str``` que define al caracter que será eliminado. El caracter por defecto es un espacio en blanco.

**Ejemplo:**

In [ ]:
'                 Hola, amigos.        '.lstrip()

In [ ]:
'xxxxxxxxxxxxxxxxxHola, amigos.xxxxxxxx'.lstrip('x')

### El método ```rstrip()```.

Regresa un objeto ```str``` que elimina los espacios (o el caracter que se especifique) que se encuentren a la derecha de un texto.

```
<objeto str>.rstrip(<caracter>)
```

Donde:
* ```<caracter>``` es un objeto ```str``` que define al caracter que será eliminado. El caracter por defecto es un espacio en blanco.

**Ejemplos:**

In [ ]:
'                 Hola, amigos.        '.rstrip()

In [ ]:
'xxxxxxxxxxxxxxxxxHola, amigos.xxxxxxxx'.rstrip('x')

###  El método ```expandtabs()```.

Regresa un objeto ```str```  que sustituye el caracter de escape de tabulador ```'\t'``` por espacios en blanco. 

Por defecto se sustituye cada tabulador con 4 espacios en blanco, pero se puede definir el numero si se ingresa como argumento.

```
<objeto str>.expantabs(<n>)
```

Donde:
* ```<n>``` es el número de espacios en blanco que sustituirán al tabulador.

**Ejemplos:**

In [ ]:
'Hola\tamigos'

In [ ]:
print('Hola\tamigos')

In [ ]:
'Hola\tamigos'.expandtabs()

In [ ]:
'Hola\tamigos'.expandtabs(2)

In [ ]:
'Hola\tamigos'.expandtabs(15)

### El método  ```zfill()```.

Regresa un objeto ```str``` del tamaño indicado por el argumento y justifica el texto a la derecha, llenando el resto con ceros.

```
<objeto str>.zfill(<n>)
```

Donde:
* ```<n>``` es el tamaño del objeto que regresará la función.

In [ ]:
'Hola'.zfill(6)

In [ ]:
'504'.zfill(7)

### Métodos de unión y separación.

#### El método ```join()```.

Regresa un objeto de tipo ```str``` que contiene una secuencia de objetos de tipo ```str``` los cuales corresponden a los elemento de un objeto iterable que es ingresado como argumente, utilizando al objeto original ```str``` como separador entre cada elemento.

```
<objeto str>.join(<objeto iterable>)
```

Donde:

* ```<objeto iterable>``` es un objeto iterable que contiene a varios objetos de tipo ```str```.

**Ejemplos:**

* La siguiente celda regresará al objeto ```'Hugo, Paco, Luis'```.

In [ ]:
", ".join(["Hugo", "Paco", "Luis"])

* La siguiente celda regresará al objeto ```'1 + 2 + 3 + 4'```.

In [ ]:
" + ".join(("1", "2", "3", "4"))

* La siguiente utilizará a la función ```eval()``` para realizar la suma del objeto ```'1 + 2 + 3 + 4'``` creado mediante la expresión ```" + ".join(("1", "2", "3", "4"))```.

In [ ]:
eval(" + ".join(("1", "2", "3", "4")))

* La siguiente celda utiliza como argumento a un objeto de tipo ```dict```. En este caso el método ```join()``` extraerá solamente las claves del objeto y regresará el objeto ```'nombre, apellido'```.

In [ ]:
', '.join({'nombre':'Juan', 'apellido':'Pérez'})

#### El método  ```partition()```.

Este método busca dentro del objeto ```str``` el texto contenido en otro objeto ```str``` que se ingresa como argumento, realizando la búsqueda de izquerda a derecha. 

* En caso de que encuentre una coincidencia, regresará un objeto de tipo ```tuple``` el cual contiene:
   * Un objeto ```str``` que contiene el texto a la derecha del texto encontrado.
   * Un objeto ```str``` que contiene al texto encontrado.
   * Un objeto ```str``` que contiene el texto a la izquerda del texto encontrado.

* En caso de que no exista una coincidencia, regresará un objeto de tipo ```tuple```el cual contiene:
   * Al objeto ```str``` original.
   * Dos objetos ```str``` vacíos.
   
```
<objeto str>.partition(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
"Hugo, Paco, Luis".partition(", ")

In [ ]:
"Hugo, Paco, Luis".partition("+")

### El método  ```rpartition()```.

Este método busca dentro del objeto ```str``` el texto contenido en otro objeto ```str``` que se ingresa como argumento, realizando la búsqueda de derecha a izquierda. 

* En caso de que encuentre una coincidencia, regresará un objeto de tipo ```tuple``` el cual contiene:
   * Un objeto ```str``` que contiene el texto a la derecha del texto encontrado.
   * Un objeto ```str``` que contiene al texto encontrado.
   * Un objeto ```str``` que contiene el texto a la izquerda del texto encontrado.

* En caso de que no exista una coincidencia, regresará un objeto de tipo ```tuple``` el cual contiene:
   * Dos objetos ```str``` vacíos.
   * El objeto ```str``` original.
   
```
<objeto str>.rpartition(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
"Hugo, Paco, Luis".rpartition(", ")

In [ ]:
"Hugo, Paco, Luis".rpartition("+")

### El método ```split().```

Este método realiza una búsqueda de izquierda a derecha dentro del objeto ```str``` original de todas las coincidencias del texto contenido en otro objeto ```str``` que se ingresa como argumento. El metodo regresará un objeto de tipo ```list``` con todos los segmentos de texto que se encuentren separados por el texto buscado.


```
<objeto str>.split(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
"Hugo Paco, Luis".split(", ")

In [ ]:
"Hugo, Paco, Luis".split("+")

### El método ```splitlines()```.

Este método identifica los caracteres de escape de de línea ```"\n"``` dentro del objeto ```str``` y regresa un objeto de tipo ```list``` conteniendo cada línea identificada.

En caso de no encontrar caracteres de escape de retorno de línea, regresará un objeto de tipo ```list``` conteniendo al objeto ```str``` original.

```
<objeto str>.splitlines()
```

**Ejemplo:**

* La siguiente celda se definirá al objeto ```str``` llamado ```nombres```, el cual continene 2 caracteres de escape de retorno de línea.

In [ ]:
nombres = "Hugo.\nPaco.\nLuis."

In [ ]:
print(nombres)

* La siguiente celda regresará a un objeto de tipo ```list``` con cada línea.

In [ ]:
nombres.splitlines()

### El método ```find()```.

Este método realiza una búsqueda de izquierda a derecha dentro del objeto ```str``` de una cadena de caracteres que es ingresada como argumento y regresa el índice donde inicia la cadena encontrada. En caso de no encontrar coincidencia, el método regresará el valor ```-1```.

```
<objeto str>.find(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
'Luis, Hugo, Paco, Luis'.find('Paco')

In [ ]:
'Luis, Hugo, Paco, Luis'.find('Luis')

In [ ]:
'Luis, Hugo, Paco, Luis'.find('Juan')

### El método ```index()```.

Este método realiza una búsqueda de izquierda a derecha dentro del objeto ```str``` de una cadena de caracteres que es ingresada como argumento y regresa el índice donde inicia la cadena encontrada. En caso de no encontrar coincidencia, se generará un error de tipo ```ValueError```.

```
<objeto str>.index(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
'Luis, Hugo, Paco, Luis'.index('Paco')

In [ ]:
'Luis, Hugo, Paco, Luis'.index('Luis')

In [ ]:
'Luis, Hugo, Paco, Luis'.index('Juan')

### El método ```replace()```.

Este método realiza una búsqueda dentro del objeto ```str``` de una cadena de caracteres que es ingresada como primer argumento, regresando un nuevo objeto ```str``` en el cual la cadena de búsqueda es sustituida por la cadena que se ingresa como segundo argumento.

En caso de no encontrar coincidencias, el método regresa al objeto ```str``` original.

```
<objeto str>.replace(<cadena de búsqueda>, <cadena de sustitución>)
```

Donde:

* ```<cadena de búsqueda>``` es un objeto ```str``` que contiene al texto que será buscado.
* ```<cadena de sustitucióm>``` es un objeto ```str``` que contiene al texto que será sustituido.

**Ejemplos:**

In [ ]:
'Luis, Hugo, Paco, Luis'.replace('Luis', 'Juan Antonio')

In [ ]:
'Luis, Hugo, Paco, Luis'.replace('Pedro', 'Juan')

### El método  ```count()```.

Este método cuenta el número de veces que aparece un patrón ingresado como argumento dentro del texto y regresa el número correspondiente.

```
<objeto str>.count(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
"Hola, amigos.". count("a")

In [ ]:
"Hola, amigos.". count("la")

In [ ]:
"Hola, amigos.". count("z")

### El método ```startswith()```.

Este método evalúa si el patrón ingresado como argumento corresponde al inicio del texto en el objeto de tipo ```str```. Regresa ```True``` si hay correspondencia y de lo contrario, regresa ```False```.

```
<objeto str>.startswith(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
"Hola, amigos.".startswith("la")

In [ ]:
"Hola, amigos.". startswith("Ho")

### El método ```endswith()```.

Este método evalúa si el patrón ingresado como argumento corresponde al final del texto en el objeto de tipo ```str```. Regresa ```True``` si hay correspondencia y de lo contrario, regresa ```False```.

```
<objeto str>.endswith(<cadena>)
```

Donde:

* ```<cadena>``` es un objeto ```str``` que contiene al texto que será buscado.

**Ejemplos:**

In [ ]:
"Hola, amigos.".endswith("Hola")

In [ ]:
"Hola, amigos.".endswith("gos.")

### El  método ```isalnum()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres alfanuméricos dentro de la tabla Unicode.

```
<objeto str>.isalnum()
```

**Ejemplos:**

* El objeto ```"@#%&"``` no contiene caracteres alfanuméricos.

In [ ]:
"@#%&".isalnum()

* El objeto ```'Hola 12'``` contiene un espacio, el cual no es un caracter alfanumérico.

In [ ]:
'Hola 12'.isalnum()

* El objeto ```'Hola12'``` contiene exclusivamente caracteres alfanuméricos.

In [ ]:
"Hola12".isalnum()

#### El  método ```isalpha()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres alfabéticos dentro de la tabla Unicode.

```
<objeto str>.isalpha()
```

**Ejemplos:**

* El objeto ```"@#%&"``` no contiene caracteres alfabéticos.

In [ ]:
"@#%&".isalpha()

* El objeto ```'Hola'```  contiene exclusivamente caracteres alfabéticos.

In [ ]:
'Hola'.isalpha()

* El objeto ```'Hola'```  contiene al caracter ```.``` el cual no es alfabético.

In [ ]:
'Hola.'.isalpha()

* El objeto ```'Ω'```  contiene al caracter ```Ω``` el cual es una letra del alfabeto griego.

In [ ]:
'Ω'.isalpha()

### El  método ```isnumeric()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres con representaciones numéricas dentro de la tabla Unicode.

```
<objeto str>.isnumeric()
```

**Ejemplos:**

* El objeto ```'0x1a'``` es la representación del número ```26``` en formato hexadecimal. Sin embargo, contiene caracteres que no son numéricos.

In [ ]:
'0x1a'.isnumeric()

In [ ]:
eval('0x1a')

* El objeto ```'-22.1'``` es la representación del número ```-22.1```. Sin embargo, contiene caracteres que no son numéricos.

In [ ]:
'-22.1'.isnumeric()

In [ ]:
eval('-22.1')

* El objeto ```'23'``` es la representación del número ```-23``` y contiene exclusivamente caracteres numéricos.

In [ ]:
'23'.isnumeric()

* Todos los caracteres del objeto ```'2²'``` son caracteres que representan números.

In [ ]:
'2²'.isnumeric()

* El caracteres ```½``` del objeto ```'½'``` represanta a un número.

In [ ]:
'½'.isnumeric()

#### El  método ```isdecimal()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres con representaciones numéricas decimales dentro de la tabla Unicode.

```
<objeto str>.isdecimal()
```

**Ejemplos:**

* El objeto ```'0x1a'``` es la representación del número ```26``` en formato hexadecimal. Sin embargo, contiene caracteres que no son numéricos.

In [ ]:
'0x1a'.isdecimal()

* El objeto ```'-22.1'``` es la representación del número ```-22.1```. Sin embargo, contiene caracteres que no son numéricos.

In [ ]:
'-22.1'.isdecimal()

* El objeto ```'23'``` es la representación del número ```23``` y todos sus caracteres son decimales.

In [ ]:
'23'.isdecimal()

* El objeto ```'2²'``` contiene exclusivamente caracteres numéricos, sin embargo, el caracter ```'²'``` representa a una potencia, no a un decimal.

In [ ]:
'2²'.isdecimal()

* El caracter ```½``` del objeto ```'½'``` es un caracter numérico, pero representa a una fracción, no a un decimal.

In [ ]:
'½'.isdecimal()

#### El  método ```isdigit()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres con representaciones de dígitos dentro de la tabla Unicode.

```
<objeto str>.isdigit()
```

* El objeto ```'0x1a'``` es la representación del número ```26``` en formato hexadecimal. Sin embargo, contiene caracteres que no son numéricos.

In [ ]:
'0x1a'.isdigit()

* El objeto ```'-22.1'``` es la representación del número ```-22.1```. Sin embargo, contiene caracteres que no son numéricos.

In [ ]:
'-22.1'.isdigit()

* El objeto ```'23'``` es la representación del número ```23``` y todos sus caracteres son dígitos.

In [ ]:
'23'.isdigit()

* El objeto ```'2²'``` contiene exclusivamente caracteres numéricos y aún cuando el caracter ```'²'``` representa a una potencia, la magnitud está definida por un dígito.

In [ ]:
'2²'.isdigit()

* El caracter ```½``` del objeto ```'½'``` es un caracter numérico, pero representa a una fracción, no a un dígito.

In [ ]:
'½'.isdigit()

#### El  método ```islower()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres en minúsculas.

```
<objeto str>.islower()
```

**Ejemplos:**

In [ ]:
'¡hola, amigos!'.islower()

In [ ]:
'¡Hola, amigos!'.islower()

#### El  método ```isupper()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres en mayúsculas.

```
<objeto str>.isupper()
```

**Ejemplos:**

In [ ]:
'¡HOLA, AMIGOS!'.isupper()

In [ ]:
'¡Hola, amigos!'.isupper()

#### El  método ```istitle()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente palabras cuyo primer caracter está en mayúsculas.

```
<objeto str>.istitle()
```

**Ejemplos:**

In [ ]:
'¡HOLA, AMIGOS!'.istitle()

In [ ]:
'¡Hola, amigos!'.istitle()

In [ ]:
'¡Hola, Amigos!'.istitle()

In [ ]:
'¡HOla, Amigos!'.istitle()

#### El  método ```isprintable()```.

Evalúa si el texto del objeto tipo ```str``` contiene exclusivamente caracteres que pueden ser impesos. De ser así, el resultado es ```True```. En caso de encontrar caracteres de escape o caracteres especiales, el resultado será ```False```.

```
<objeto str>.isprintable()
```

**Ejemplos:**

* La siguiente celda definirá objeto ```líneas``` el cual contiene varios caracteres de escape ```'\n'```.

In [ ]:
lineas = "Hugo.\nPaco.\nLuis."
print(nombres)

In [ ]:
nombres.isprintable()

* La siguiente celda definirá objeto ```nombres``` el cual contiene varios caracteres de escape ```'\t'```.

In [ ]:
nombres = "Hugo.\tPaco.\tLuis."
print(nombres)

In [ ]:
nombres.isprintable()

* El objeto ```'Hugo, Paco, Luis.'``` no contiene caracteres no imprimibles.

In [ ]:
'Hugo, Paco, Luis.'.isprintable()

### El método ```isspace()```.

Evalúa si el objeto tipo ```str``` está compuesto exclusivamente de espacios.

```
<objeto str>.isspace()
```

**Ejemplos:**

In [ ]:
''.isspace()

In [ ]:
'     '.isspace()

In [ ]:
'Hola, mundo.'.isspace()

### El método ```isidentifier()```.

Evalúa si el objeto tipo ```str``` cumple con las características para que Python pueda reconocerlo como un nombre al que se le puede ligar un objeto.

```
<objeto str>.isidentifier()
```

**Ejemplos:**

* El objeto ```'Nombre'``` cumple con los criterios de Python para ser considerado un nombre válido.

In [ ]:
'Nombre'.isidentifier()

In [ ]:
'!1nombre'.isidentifier()

In [ ]:
'Hola, mundo.'.isidentifier()

### Métodos de mapeo de caracteres.

Es posible generar tablas de caracteres, los cuales puedan sustituir a unos por otros. Este tipo de sustitución se hace generalmente cuando se debe interactuar con aplicaciones que no aceptan caracteres especiales.

#### El método ```str.maketrans()```.

Este método permite crear una tabla de caracteres, la cual consiste en un diccionario que relaciona a un par de caracteres por su número correspondiente en la codificación.

```
str.maketrans(<mapa 1>, <mapa 2>)
```

El resultado es un objeto de tipo ```dict``` que donde la clave corresponde al código numérico de un caracter y el valor al código numérico de otro caracter.

Donde:

* ```<mapa 1>``` es un objeto ```str``` en el que cada caracter está ligado al caracter de ```<mapa 2>``` con el mismo índice.
* ```<mapa 2>``` es un objeto ```str``` en el que cada caracter está ligado al caracter de ```<mapa 1>``` con el mismo índice.

**Ejemplo:**

In [ ]:
trans = str.maketrans("áäàéëèíïìóöòúüù", "aaaeeeiiiooouuu")

In [ ]:
trans

#### El método ```translate()```.

Este método sustituye a los caracteres del objeto ```str``` utilizando una tabla de caracteres generada por el método ```str.maketrans()```.

Estre método regresa un objeto ```str```sustituyendo los caracteres conforme a la relación de la tabla de caracteres que se ingresa como argumento.
 
```
<objeto str>.translate(<tabla de caracteres>)
```

Donde:

* ```<tabla de caracteres>``` es un objeto de tipo ```dict``` que donde la clave corresponde al código numérico de un caracter y el valor al código numérico de otro caracter.

**Ejemplos**

In [ ]:
trans = str.maketrans("áäàéëèíïìóöòúüù", "aaaeeeiiiooouuu")
'Hólá amïgòs. ¿Cómö éstán?'.translate(trans)

In [ ]:
trans = str.maketrans('oieastg', '0134579')
"Hola, amigos. ¿Como estan?".translate(trans)

### El método ```format()```.

Este método regresa un objeto ```str``` al que se le pueden aplicar  múltuiples procedimientos de formateo y sustitución del texto. 

La sustitución se realiza mediante el usos de llaves ```{ }``` dentro del objeto ```str``` original. Los elementos a sustituir se ingresan como argumentos separados por comas.

Este método permite formatear y alinear los elementos a los que sustituye de muchas maneras.

En el sitio [https://pyformat.info/](https://pyformat.info/) es posible explorar las distintas formas en las que se puede utilizar dicho método.

**Ejemplo:**

* La siguiente celda regresará un objeto ```str```que sustituirá de forma consecutiva los caracteres ```{}``` por  las cadenas ```Juan``` y ```Pedro``` en el texto original.

In [ ]:
'Contrato de prestacion de servicios entre {} y {}.'.format("Juan", "Pedro")

##### Control de la sustitución con el método ```format()```.

Si no se especifica, cada elemento será sustituido de forma sucesiva de izquierda a derecha. Pero también es posible indicar cual elemento sustituir por mediante un índice numérico o mediante una clave, de tal forma que los argumentos ingresados son indexados  como objetos de tipo ```tuple``` o de tipo ```dict```.

**Ejemplos:**

* La siguiente celda sustituirá primero el índice ```1```y luego el índice ```0```.

In [ ]:
'Contrato de prestacion de servicios entre {1} y {0}.'.format("Juan", "Pedro")

* La siguiente celda sustituirá el valor relacionado a la clave correspondiente.

In [ ]:
'Contrato de servicios entre {comprador} y {vendedor}.'.format(comprador="Juan",
                                                               vendedor="Pedro")

#### El método ```format_map()```.

Este método es similar a ```format()```, con la diferencia de que acepta exclusivamente objetos con pares mapeables tales como los objetos de tipo ```dict```.

**Ejemplos:**

* Las siguientes celda utilizan como argumento a un objeto de tipo dict.

In [ ]:
'Contrato de servicios entre {comprador} y {vendedor}.'.format_map({'comprador': "Juan",
                                                                    "vendedor":"Pedro"})

In [ ]:
'Contrato de servicios entre {comprador} y {vendedor}.'.format_map(dict(comprador="Juan",
                                                                   vendedor="Pedro"))