![imagenes](logo.png)


# Iteraciones con ```for```... ```in```.


## Objetos iterables.

Una de las grandes fortalezas de Python es la de poder de realizar iteraciones de forma dinámica a partir de diversos objetos "iterables", los cuales son colecciones de objetos con métodos capaces de regresar elementos de uno en uno.

Algunos tipos iterables son:

* ```str```.
* ```list```.
* ```tuple```.
* ```dict```.
* ```set```.
* ```frozenset```.
* ```bytes```.

## Iteradores y generadores.

Además de los objetos iterables existen otros objetos capaces de regresar otros objetos de uno en uno. Estos objetos son los iteradores y los generadores, los cuales se estudiarán más adelante.

## La estructura ```for``` ... ```in```.

Para iterar un objeto iterable se utiliza la siguiente sintaxis:

```
for <nombre> in <iterable>:
    ...
    ...
```
Donde: 

* ```<iterable>``` puede ser un objeto iterable, un iterador o un generador.

* ```<nombre>``` es el nombre al que se le asignará cada objeto entregado por el objeto iterable en cada iteración. Al final, dicho estará ligado al último objeto entregado.

**Ejemplos:**

* La siguiente celda asignará al nombre ```letra``` cada caracter del objeto ```'Chapultepec'```, el cual swrá desplegado por la función ```print()```.

In [ ]:
for letra in "Chapultepec":
    print(letra)

* El nombre ```letra``` queda ligado al objeto ```'c'```, el cual es el útlimo elemento del objeto ```'Chapultepec'```.

In [ ]:
letra

* La siguiente celda asignará al nombre ```item``` cada elemento contenido en el objeto ```['uno', 'dos', 3]```, el cual swrá desplegado por la función ```print()```.

In [ ]:
for item in ['uno', 'dos', 3]:
    print(item)

* El nombre ```item``` queda ligado al objeto ```'3'```, el cual es el útlimo elemento del objeto ```['uno', 'dos', 3]
```.

In [ ]:
item

## Iteraciones con  la función ```range()```.

La forma más común de realizar iteraciones en otros lenguajes de programación es por medio de rangos numéricos de forma similar a lo que hace la función ```range()```.

Esta función es un generador que regresa una sucesión de números en un rango definido.

```
range(<m>, <n>, <s>)
```

Donde:

* ```<m>``` es el primer número del rango.
* ```<n>``` es el valor límite del rango. La sucesión llegará a un número previo a ```n```.
* ```<s>``` es a magnitud de los inrementos o decrementos del rango.

Si sólo se ingresa un argumento, ese valor se le asignará a ```n```, mientras que ```<m>``` será igual a ```0``` y ```<s>``` será igual a ```1```.

Si sólo se ingresan 2 argumentos, el primero se le asignará a ```m```, el segundo a ```<n>``` y ```<s>``` será igual a ```1```.

Es posible que el valor de ```<s>``` sea negativo siempre que ```m```, sea menor que ```<n>```.

**Ejemplos:**

* La siguiente celda desplegará una sucesión de números del ```0``` al  ```7``` en incrmentos de  ```1```.

In [ ]:
""" Cuenta del 0 hasta 7 en incrementos de a 1."""
for contador in range(8):
    print(contador)
print()

* La siguiente celda desplegará una sucesión de números del ```5``` al  ```9``` en incrementos de  ```1```.

In [ ]:
""" Cuenta del 5 hasta antes de 9 en incrementos de a 1. """
for contador in range(5, 9):
    print(contador)
print()

* La siguiente celda desplegará una sucesión de números del ```3``` al  ```9``` en incrementos de  ```2```.

In [ ]:
""" Cuenta de 3 hasta antess de 11 en incrementos de a 2. """
for contador in range(3, 11, 2):
    print(contador)
print()

* La siguiente celda desplegará una sucesión de números del ```26``` al  ```14``` en decrementos de  ```-4```.

In [ ]:
""" Cuenta del 26 hasta más de 10 en decrementos de a -4. """
for contador in range(26, 10, -4):
    print(contador)

## Desempaquetado.

Python permite el uso de expresiones capaces de asignar valores a mas de un nombre a partir de una colección.

Si el número de nombres coincide con el número de objetos contenidos en la colección, entonces se asignará el primer valor al primer nombre y así sucesivamente. 

```
<nombre 1>, <nombre 2>, ..., <nombre n> = <colección de tamaño n> 
```

En caso de que el número de nombres y el tamaño de la colección no coincida, se desencadenará un error de tipo ```ValueError```.

**Ejemplo:**

* La siguiente celda asignará a cada uno de los 3 nombres definidos el valor de cada elemento del objeto tipo ```list``` cuyo tamaño es igual a ```3```.

In [ ]:
nombre, apellido, calificacion = ['Juan', 'Pérez', 7.5]

In [ ]:
nombre

In [ ]:
apellido

In [ ]:
calificacion

* En la siguiente celda se intentarán asignar 3 nombres a partir de una colección con 4 elementos, lo que desencadenará un error de tipo ```ValueError```.

In [ ]:
nombre, apellido, calificacion = ['Juan', 'Pérez', 'Erroneo', 7.5]

### Desempaquetado con ```for```... ```in```.

La declaración  ```for``` ... ```in```  es capaz de realizar el desempaquetado de colecciones contenidas dentro de un objeto iterable cuando se definen más de un nombre. La condición es que el tamaño de las colecciones que regrese el objeto iterable sea igual al numero de nombres definidos después del ```for```.

```
for <nombre 1>, <nombre 2>, ..., <nombre n> in <iterable>:
    ...
    ...
    
```

Donde:

* ```<iterable>``` es un objeto capaz de regresar colecciones de tamaño ```n``` en cada iteración.
* ```<nombre x>``` es el nombre al que se le asignará el elemento con índice ```x``` a partir de la colección de tamaño ```n ```.

**Ejemplo:**

* El objeto ```palabras``` es un objeto de tipo ```list``` que contiene objetos de tipo ```str``` de 4 letras.

In [ ]:
palabras = ["gato", "pato", "zeta", "cita"]

* La siguiente celda hará una iteración para cada objeto contenido por ```palabras```, el cual será asignado a ```item``` en cada iteración.

In [ ]:
for item in  palabras:
    print(item)

* La siguiente celda realizará una iteración para cada elemento contenido en ```palabras```. 
* Para cada elemento obtenido en la iteración desempacará los 4 caracteres que contiene y los asignará de forma consecutiva a:
    * ```primera```
    * ```segunda```
    * ```tercera```
    * ```cuarta```

In [ ]:
for primera, segunda, tercera, cuarta in palabras:
    print(primera)
    print(segunda)
    print(tercera)
    print(cuarta)
    print("----------")